.transaction {
  display: flex;
  justify-content: space-between;
  width: 80%;
  color: #dfeeea;
  padding: 0.5em;
  margin: 0.7em;
  border: 1px solid #5e8b7e;
  text-transform: capitalize;
}
.amount {
  display: flex;
}
svg {
  margin: 0.3em;
}
.increment svg {
  color:#438A5E;
}
.decrement svg {
  color:#E84A5F;
}
.delete svg{
  width: max-content;
  display: inline-block;
  color:#1B1717;
}
.delete{
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  background: none;
}